{% extends 'base.html' %}

{% block content %}
<div class="card">
    <table class="centered">
        <thead>
            <tr>
                <th>Quiz</th>
                <th class="d-none d-sm-table-cell">Length</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for quiz in quizzes %}
            <tr>
                <td class="align-middle">{{ quiz.name }}</td>
                <td class="align-middle d-none d-sm-table-cell">{{ quiz.questions_count }} questions</td>
                <td class="text-right">
                    <a href="#" class="btn btn-primary">Start quiz</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td class="bg-light text-center font-italic" colspan="4">No quiz matching your interests right now.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}