{% extends 'base.html' %}

{% block content %}
{% include 'layout/_toast.html' %}

<table class="centered z-depth-2">
    <thead>
        <tr>
            <th>Quiz</th>
            <th>Length</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for quiz in quizzes %}
        <tr>
            <td>{{ quiz.name }}</td>
            <td>{{ quiz.questions_count }} questions</td>
            <td>
                <a href="{% url 'quiz:take_quiz' quiz.pk %}" class="btn">Start quiz</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td class="bg-light text-center font-italic" colspan="4">No More Quizzes.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}