{% extends 'base.html' %} {% block content %} {% include 'layout/_toast.html' %}

<table class="centered striped z-depth-2 white">
  <thead>
    <tr>
      <th>Quiz</th>
      <th>Questions</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for quiz in quizzes %}
    <tr>
      <td>{{ quiz.name }}</td>
      <td>{{ quiz.questions_count }}</td>
      <td>
        <a href="{% url 'quiz:take_quiz' quiz.pk %}" role="button" class="btn">
          <i class="material-icons right">send</i>
          Start quiz
        </a>
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="4">No More Quizzes.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
