{% extends 'base.html' %}


{% block content %}
<div class="progress mb-3">
    <div class="determinate" role="progressbar" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100"
        style="width: {{ progress }}%"></div>
</div>
<h2><span class="badge badge-secondary">{{ answered_questions|add:"1" }}/{{total_questions}}</span></h2>

<h2 class="mb-3">{{ quiz.name }}</h2>
<p class="lead">{{ question.text }}</p>
<form method="post" novalidate>
    {% csrf_token %}
    {% for field in form %}
    {{ field }}
    {% endfor %}
    <button type="submit" class="btn ">Next →</button>
</form>
<script>
    const answersCount = document.querySelector("#id_answer").childElementCount;

    for (let i = 0; i < answersCount; i++) {
        const input = document.querySelector(`#id_answer_${i}`);
        const label = input.parentElement;
        let span = document.createElement("span");

        span.textContent = label.textContent;
        label.innerHTML = "";
        input.className = "with-gap";

        label.appendChild(input)
        label.appendChild(span)
    }

</script>
{% endblock %}