{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    body {
        background-color: #3F3D56;
    }

    @media only screen and (min-width: 993px) {
        .container {
            width: 90%
        }
    }
</style>

{% include 'layout/_toast.html' %}

<div class="row " style="overflow-x: hidden ; margin-bottom: 0">
    <div class="col m8 s12 hide-on-med-and-down ">
        <img src="{% static 'images/confirm.svg' %}" alt="svg image 'confirm' from Undraw">

    </div>

    <div class="col l4 m12 s12 center  ">
        <h3 class="white-text">Sign in</h3>
        <form class=" my-2 card-panel " method="POST">
            {% csrf_token %}

            <div class="input-field">
                <i class="material-icons prefix">account_circle</i>
                <input name="username" type="text">
                <label for="username">Login</label>
            </div>
            <div class="input-field">
                <i class="material-icons prefix">lock</i>
                <input name="password" type="password">
                <label for="password">Password</label>
            </div>

            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
            </button>

        </form>
    </div>
</div>
{% endblock %}