{% extends 'base.html' %}
{% load static %}



{% block content %}
<style>
    body {
        background-color: #3F3D56;
    }

    @media only screen and (min-width: 993px) {
        .container {
            width: 90%
        }
    }
</style>

<div class="row " style="overflow-x: hidden ; margin-bottom: 0">

    {% include 'layout/_toast.html' %}


    <div class="col l8 s12 hide-on-med-and-down ">
        <img src="{% static 'images/notebook.svg' %}" alt="svg изображение 'блокнот' из Undraw">

    </div>
    <div class="col l4 m12 s12 center  ">
        <h3 class="white-text">Регистрация ученика</h3>
        <form method="post" novalidate class=" my-2 card-panel ">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            {{ form.non_field_errors }}
            {{ form.username.errors }}
            <div class="input-field col s12">
                <i class="material-icons prefix">account_circle</i>
                {{ form.username }}
                <label for={{ form.username.id_for_label }}>Имя пользователя</label>
            </div>

            {{ form.password1.errors }}
            <div class="input-field col s12">
                <i class="material-icons prefix">lock</i>
                {{ form.password1 }}
                <label for={{ form.password1.id_for_label }}>Пароль</label>
            </div>

            {{ form.password2.errors }}
            <div class="input-field col s12">
                <i class="material-icons prefix">lock</i>
                {{ form.password2 }}
                <label for={{ form.password2.id_for_label }}>Подтверждение пароля</label>
            </div>

            <button type="submit" class="btn">Зарегистрироваться</button>
        </form>
        <div class="card-panel my-2">
            <p class="grey-text text-darken-2" style="margin-top: 0;">Или используйте Telegram <small><br>(только для учеников)</small></p>
            {% if telegram_bot %}
                <script async src="https://telegram.org/js/telegram-widget.js?22"
                    data-telegram-login="{{ telegram_bot }}"
                    data-size="large"
                    data-userpic="false"
                    data-request-access="write"
                    data-auth-url="{{ telegram_auth_url }}">
                </script>
            {% else %}
                <p class="red-text text-darken-1" style="margin-bottom: 0;">Вход через Telegram не настроен.</p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}
