{% extends 'base.html' %}
{% load crispy_forms_tags %}



{% block content %}
<style>
    [type="checkbox"]:not(:checked),
    [type="checkbox"]:checked {
        position: relative;
        opacity: 1;
    }
</style>
<div class="row">
    <h2>Sign up as a Student</h2>
    <form method="post" novalidate class="col s12">
        {% csrf_token %}

        {{ form.non_field_errors }}
        {{ form.username.errors }}
        <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            {{ form.username }}
            <label for={{ form.username.id_for_label }}>Username</label>
        </div>

        {{ form.password1.errors }}
        <div class="input-field col s12">
            <i class="material-icons prefix">lock</i>
            {{ form.password1 }}
            <label for={{ form.password1.id_for_label }}>Password</label>
        </div>

        {{ form.password2.errors }}
        <div class="input-field col s12">
            <i class="material-icons prefix">lock</i>
            {{ form.password2 }}
            <label for={{ form.password2.id_for_label }}>Password Confirmation</label>
        </div>
        {% for field in form.levels %}
        <p>
            {{ field }}
        </p>
        {% endfor %}
        <button type="submit" class="btn">Sign up</button>
    </form>
</div>

{% endblock content %}