asgiref==3.2.3
astroid==2.3.3
colorama==0.4.3
crispy-forms-materialize==0.2
Django==3.0.3
django-crispy-forms==1.8.1
django-material-admin==1.6.36
django-materialize-form==0.1.1
django-materializecss-form==1.1.16
isort==4.3.21
init_data_py==0.2.7
lazy-object-proxy==1.4.3
mccabe==0.6.1
pycodestyle==2.5.0
pylint==2.4.4
pytz==2019.3
six==1.14.0
sqlparse==0.3.0
wrapt==1.11.2
psycopg2-binary>=2.9
vk-api>=11.9
