{% extends 'base.html' %} {% load static %}
<!-- Content -->
{% block content %}
<!-- Toast -->
{% include 'layout/_toast.html' %}

<section class="section-top">
  {% include 'layout/_navbar.html' %}
  <div class="content rellax" data-rellax-speed="5">
    <h1 class="secondary-text">Английский <br> просто и понятно</h1>
    <a href="#" class="btn bg-secondary">Узнать больше</a>
  </div>
</section>
<section class="section-stream">
  <img
    src="{% static 'images/britain.svg' %}"
    alt="иконка Великобритании"
    class="play rellax z-depth-4"
    style="border-radius: 50%;"
    data-rellax-xs-speed="7"
  />

  <div class="content rellax" data-rellax-speed="10">
    <div>
      <h2 class="secondary-text">Учитесь везде</h2>
      <p class="white-text">
        Учите английский в любое время: короткие занятия, словари по темам и
        удобные колоды для повторения.
      </p>
    </div>

    <div>
      <h2 class="secondary-text">Учиться интересно</h2>
      <p class="white-text">
        Играйте в квизы, отслеживайте прогресс и закрепляйте новые слова без
        скучных правил.
      </p>
    </div>

    <div>
      <h2 class="secondary-text">Запоминайте надолго</h2>
      <p class="white-text">
        Система повторений помогает сохранить лексику в памяти и использовать
        английский уверенно в жизни и работе.
      </p>
    </div>
  </div>
</section>

<!-- Javascript -->
<script src="{% static 'js/rellax.min.js' %}"></script>
<script>
  let rellax = new Rellax('.rellax');
</script>
{% endblock content %}
