{% extends 'base.html' %} {% load static %}
<!-- Content -->
{% block content %}
<!-- Toast -->
{% include 'layout/_toast.html' %}

<section class="section-top">
  {% include 'layout/_navbar.html' %}
  <div class="content rellax" data-rellax-speed="5">
    <h1 class="secondary-text">Russian Made Easy</h1>
    <a href="#" class="btn bg-secondary">Learn More</a>
  </div>
</section>
<section class="section-stream">
  <img
    src="{% static 'images/russia.svg' %}"
    alt="play Button"
    class="play rellax z-depth-4"
    style="border-radius: 50%;"
    data-rellax-xs-speed="7"
  />

  <div class="content rellax" data-rellax-speed="10">
    <div>
      <h2 class="secondary-text">Learn EveryWhere</h2>
      <p class="white-text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea omnis velit
        laudantium reiciendis provident exercitationem commodi rem neque natus
        ducimus quia alias nostrum ab quos perferendis, dolorum odio impedit
        blanditiis!
      </p>
    </div>

    <div>
      <h2 class="secondary-text">Learning is Fun</h2>
      <p class="white-text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea omnis velit
        laudantium reiciendis provident exercitationem commodi rem neque natus
        ducimus quia alias nostrum ab quos perferendis, dolorum odio impedit
        blanditiis!
      </p>
    </div>

    <div>
      <h2 class="secondary-text">Learning is Fun</h2>
      <p class="white-text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea omnis velit
        laudantium reiciendis provident exercitationem commodi rem neque natus
        ducimus quia alias nostrum ab quos perferendis, dolorum odio impedit
        blanditiis!
      </p>
    </div>
  </div>
</section>

<!-- Javascript -->
<script src="{% static 'js/rellax.min.js' %}"></script>
<script>
  let rellax = new Rellax('.rellax');
</script>
{% endblock content %}
