{% extends 'base.html' %}

{% load quiz_extras %}

{% block content %}

<form method="POST" action="{% url 'quiz:question_update' quiz.pk question.pk %}">
    {% csrf_token %}

    {{ formset.management_form }}
    {{ form }}
    <div class="card">
        <ul class="collection">
            {% for form in formset %}
            <li class="collection-item">
                {% for field in form %}
                {{ field.errors }}
                <label>
                    {{ field }}
                    {% if  field.is_hidden or field|field_type == "TextInput"%}
                    {% else %}
                    <span>{{ field.label }}</span>
                    {% endif %}
                </label>
                {% endfor %}
            </li>
            {% endfor %}
        </ul>
    </div>
    <input type="submit" value="submit" class="btn">
    {% endblock %}