{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<a href="{% url 'quiz:quiz_list' %}" class="btn blue-grey" role="button">
    <i class="material-icons left">arrow_back</i> Back
</a>

<h2 class="mb-3">Add a new question</h2>
<div class="row card-panel">
    <div class="col  s12">
        <form method="post" novalidate>
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn-floating indigo right">
                <i class="material-icons">add</i>
            </button>

        </form>
    </div>
</div>
{% endblock %}