{% extends 'base.html' %}}
{% block content %}
<h2 class="mb-3">
    {{ quiz.name }}
    <a href="{% url 'quiz:question_results_teacher' quiz.pk %}" class="btn btn-primary float-right">View results</a>
</h2>
<div class="row mb-3">
    <div class="col-md-6 col-sm-8 col-12">
        <form method="post" novalidate>
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn btn-success">Save changes</button>
            <a href="{% url 'quiz:quiz_list' %}" class="btn btn-outline-secondary" role="button">Nevermind</a>
            <a href="{% url 'quiz:quiz_delete' quiz.pk %}" class="btn red float-right">Delete</a>
        </form>
    </div>
</div>

<div class="fixed-action-btn">
    <a href="{% url 'quiz:question_add' quiz.pk %}" class="btn-floating btn-large waves-effect waves-light red">
        <i class="material-icons">add</i>
    </a>
</div>

<ul class="collapsible">
    {% for question in questions %}
    <li>
        <a href="{% url 'quiz:question_update' quiz.pk question.pk %}" class="collapsible-header">
            <i class="material-icons">filter_drama</i>{{ question.text }}
        </a>
    </li>
    {% endfor %}
</ul>
</div>
{% endblock %}