{% extends 'base.html' %}

{% block content %}

<h2 class="mb-3">My Quizzes</h2>
<div class="fixed-action-btn">
    <a href="{% url 'quiz:add_quiz' %}" class="btn-floating btn-large waves-effect waves-light indigo">
        <i class="material-icons">add</i>
    </a>
</div>

<div class="card">
    <table class="centered responsive-table striped">
        <thead>
            <tr>
                <th>Quiz</th>
                <th>Questions</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for quiz in quizzes %}
            <tr>
                <td>
                    <a href="{% url 'quiz:quiz_update' quiz.pk %}"">{{ quiz.name }}</a>
                </td>
                <td>{{ quiz.questions_count }}</td>
                <td class=" text-right">
                        <a href="{% url 'quiz:question_add' quiz.id %}"
                            class="btn-floating btn waves-effect waves-light indigo">
                            <i class="material-icons">add</i>
                        </a>
                        <a href="{% url 'quiz:quiz_delete' quiz.pk %}"
                            class="btn-floating btn waves-effect waves-light red">
                            <i class="material-icons">delete</i>
                        </a>
                        <a href="{% url 'quiz:question_results_teacher' quiz.pk %}"
                            class="btn-floating btn waves-effect waves-light teal">
                            <i class="material-icons">visibility</i>
                        </a>

                </td>
            </tr>
            {% empty %}
            <tr>
                <td class="bg-light text-center font-italic" colspan="5">You haven't created any quiz yet.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}