{% extends 'base.html' %}


{% block content %}
<h2 class="mb-3">{{card.word}}</h2>
<form method="post" novalidate>
    <div class="card-panel">
        {% csrf_token %}
        {% for field in form %}
        {% for error in field.errors %}
        <material-toast message="{{error}}" color="red"></material-toast>
        {% endfor %}
        <div class="input-field mb-2">
            {{field}}
            <label for="{{ field.id_for_label }}">{{ field.html_name }}</label>
        </div>
        {% endfor %}
        <button type="submit" class="btn-floating btn-large teal ">
            <i class=" material-icons ">save</i>
        </button>
        <a href="{% url 'words:card_delete' card.id %}" class="btn-floating btn-large red right">
            <i class=" material-icons ">delete</i>
        </a>
    </div>
</form>
{% endblock %}