{% extends 'base.html' %}
{% block content %}

<div class="row">
    {% for card in cards %}
    <div class="col s12 m4">
        <div class="card-panel" style="background-color: {{card.deck.color}};">
            <a href="{% url 'words:card_update' card.id %}">
                <h3 class="white-text center">{{ card.word}}</h3>
            </a>
        </div>
    </div>
    {% empty %}
    <p class=" flow-text center"> You have no Cards in this Deck</p>
    {% endfor %}

    <div class="fixed-action-btn">
        <a href="{% url 'words:card_add' pk %}" class="btn-floating btn-large waves-effect waves-light indigo">
            <i class="material-icons">add</i>
        </a>
    </div>
</div>

{% endblock %}