{% extends 'base.html' %}

{% block content %}

<a href="{% url 'words:deck_list' %}" type="submit" class="btn blue-grey">
    <i class="material-icons left">arrow_back</i>
    Back
</a href="">
<h2 class="mb-3">Add a new Deck</h2>
<form method="POST" class=" card-panel">
    {% csrf_token %}
    <div class=" input-field">
        <input id="category" name='category' type="text" value="New Deck" class="">
        <label for="category">Category</label>
    </div>
    <div class="" style="margin-bottom: 2rem;">
        <label for="color">Color</label>
        <input type="color" name="color" id="color">

    </div>
    <button type="submit" class="btn ">
        <i class="material-icons left">save</i>
        Save
    </button>
</form>

{% endblock %}