{% extends 'base.html' %}

{% block content %}

<a href="{% url 'words:deck_list' %}" type="submit" class="btn blue-grey mt-2">
    <i class="material-icons left">arrow_back</i>
    Назад
</a>
<h2 class="mb-3">Добавить новую колоду</h2>
<form method="POST" class=" card-panel">
    {% csrf_token %}
    <div class=" input-field">
        <input id="title" name='title' type="text" value="Новая колода" class="">
        <label for="title">Название</label>
    </div>
    <div class="" style="margin-bottom: 2rem;">
        <label for="color">Цвет</label>
        <input type="color" name="color" id="color">

    </div>
    <button type="submit" class="btn ">
        <i class="material-icons left">save</i>
        Сохранить
    </button>
</form>

{% endblock %}
