{% extends 'base.html' %}
{% block content %}
<h2 class="mb-3">
    {{ deck.title }}

</h2>
<div class="row mb-3">
    <div class="col-md-6 col-sm-8 col-12">
        <form method="post" novalidate>
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn green">Сохранить изменения</button>
            <a href="#" class="btn btn-outline-secondary" role="button">Отмена</a>
            <a href="{% url 'words:deck_delete' deck.id %}" class="btn red float-right">Удалить</a>
        </form>
    </div>
</div>
{% endblock %}
