{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Speed Typing Game</title>
    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <link rel="stylesheet" href="{% static 'css/speed_typing.css' %}">

</head>


<body class="white-text blue-grey darken-3 ">
    {% include 'layout/_navbar.html' %}
    <div class="center-align container">

        <!-- Word & Input -->

        <p class="flow-text font-weight-bold">Type The Translation Of This Word Within
            <strong class="yellow-text" id="seconds"></strong> Seconds:</p>
        <div class="row my-3 valign-wrapper">
            <div class="col s9">
                <h2 class="display-3 mb-5 font-weight-bold" id="current-word"></h2>
            </div>
            <div class="col s3  valign-wrapper right">
                <i class="material-icons medium right" id="speaker">volume_up</i>
            </div>
        </div>
        <input type="text" class="white-text" placeholder="Start typing..." id="word-input" autofocus>
        <h4 class="mt-3 yellow-text" id="message"></h4>


        <!-- Time & Score Columns -->
        <div class="row mt-5">
            <div class="col m6">
                <h4>Time Left:
                    <span id="time">0</span>
                </h4>
            </div>
            <div class="col m6">
                <h4>Score:
                    <span id="score">0</span>
                </h4>
            </div>

        </div>

        <!-- Instructions -->
        <div class="row mt-5">
            <div class="col-md-12">
                <div class="card-panel indigo text-white mb-5">
                    <h5>Instructions</h5>
                    <p>Type the translation of each word in the given amount of seconds to score. To play again,
                        just type the current word. Your score
                        will reset</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Pop up -->
    <div class="popup-container ">
        <div class="popup card indigo">
            <div class="card-content">
                <h3 id="final-message">Unfortunatly you lost &#128531;</h3>
                <button class="btn" id="play-btn">
                    <i class="material-icons">replay</i>
                    Play Again
                </button>
            </div>
        </div>
    </div>
    <script src="{% static 'js/speed_typing.js' %}"></script>
</body>

</html>