{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>Russian Memo</title>
</head>

<body>
    <script src="{% static 'js/materialize.min.js' %}"></script>

    {% include 'layout/_navbar.html' %}
    <div class="container">
        {% block content %}

        {% endblock content %}
    </div>

    {% include 'layout/_footer.html' %}
    <script src="{% static 'js/script.js' %}"></script>


</body>


</html>