{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <title>Russian Memo</title>
  </head>

  <body {% if request.path == '/' %} class="bg-primary" {% endif %}>
    <script src="{% static 'js/materialize.min.js' %}"></script>
    <style>
      .mb-2 {
        margin-bottom: 2rem;
      }

      .mb-3 {
        margin-bottom: 3rem;
      }
    </style>

    {% if request.path != '/' %} {% include 'layout/_navbar.html' %}

    <div class="container">
      {% endif %}
      <!-- block -->
      {% block content %} {% endblock %}
      <!-- end -->
      {% if request.path != '/'%}
    </div>
    {% endif %}
    <!-- toast -->
    {% include 'layout/_toast.html' %}
    <!-- footer -->
    {% include 'layout/_footer.html' %}
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
