<style>
  html,
  body {
    height: 100%;
  }
  .container {
    min-height: 100%;
  }

  .footer {
    position: relative;
    height: 50px;
    margin-top: 50px;
    clear: both;
  }
</style>

<footer class="page-footer black" style="padding-top: 0; margin-top: 3rem;">
  <div class="footer-copyright">
    <div class="container center">
      &copy; <span id="copyright-year">2020</span> Copyright
    </div>
  </div>
</footer>

<script>
  const year = new Date();
  document.querySelector('#copyright-year').textContent = year.getFullYear();
</script>
